*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Montserrat;
	font-weight: 400;
	background:#cc0000;
}
h1{
	transition: 2s ease;
	font-size: 70px;
	font-family: Montserrat;
	font-weight: 400;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
a{
  cursor: pointer;
}
/*cards*/
.line{

	  -webkit-transform: translateY(-50%) translateZ(100px) scale(0.94);
    transform: translate(-50%,-50%) translateZ(100px) scale(0.94);
    top: 80%;
    position: absolute;
    left: 50%;
    width: 33.33333%;
    padding: .1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    background-color: white;
    color: white;
}

.col{
    width:33.333333%;
    cursor: pointer;
}
.cols{
  	display: flex;
  	overflow:hidden;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.front,
.back{
	position: relative;
  background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    height: 100vh;
    /*border-radius: 10px;*/
    color: #FFFFFF;
    font-size: 1.5rem;
}

.back{
  background: #cc0000;
}
.front{
  background-color: #cc0000;
}
@keyframes op{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.container:hover .front  .line{
  animation:op .6s;
}
.container:hover .front .inner{
  animation:op .6s;
}
.container:not(:hover) .back .inner{
  animation:op .6s;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(100px) scale(0.94);
            transform: translateY(-50%) translateZ(100px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container .front{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
/*menu*/
.section{
  position: fixed;
  z-index: 11;
  top: -100px;
  left: -100px;
}
.menu-btn {
  display: block;
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 50%;
  position: relative;
}
.menu-btn span{
  transition: .4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  position: absolute;
  top: 50%; 
  left: 50%; 
  width: 36px;
  height: 4px;
  background-color: black;
  transform: translate(58%,950%);
  border-radius: 20px;
  z-index: 5;
}
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; 
  left: 50%; 
  width: 36px;
  height: 4px;
  background-color: #222;
  transform: translate(-50%,-50%);
  border-radius: 20px;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.4s;
}
.menu-btn span::before {
   transform: translate(-50%,175%);
}
.menu-btn span::after {
  transform: translate(-50%,-275%);
}
.menu-btn_active span {
  background-color: #fff;
}
.menu-btn_active span:before {
  transform: translate(-50%,50%) rotate(225deg);
  width: 36px;
  transform-origin: center center;
  }
.menu-btn_active span:after {
  transform: translate(-50%,50%) rotate(-225deg);
  width: 36px;
  transform-origin: center center;
  }

.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav {
  background-color: #fff;
  height: 50px;
  
}
.menu-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
.menu-nav__link {
  transition: 0.5s;
  transform-origin: right center;
  transform: translateX(50%);
  opacity: 0;
}
.menu-nav__link_active {
  transform: translateX(0%);
  opacity: 1;
}
.menu-btn{
  outline: none;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: none;
  outline: none;
  border: none;
 }
.menu-btn:before{
   content: '';
   position: absolute; 
   top: 0; 
   left: 0;
   width: 205px;
   height: 0;
   background: white;
   -webkit-transition: 0.4s;
   transition: 0.4s;
   border-radius: 50%;
   z-index: 2;
   border: none;
 }
.menu-btn_active:before{    
    height: 205px;
    border-radius: 50%;
    border: none;
}
.menu{
    position: fixed;
    height: 100vh;
    background-color: rgba(0,0,0,1); 
    width: 33.3333%;
    z-index: 10;
    transform: translate(-100%,0);
    transition: .4s;
}

.menu_active{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0,0,0,1);
    width: 33.3333%;
    z-index: 10;
    transform: translate(-100%,0);
    transition: .4s;
    transform: translate(0%,0);
}
.menu_links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    display: flex;
    flex-direction: column;
}
.menu_link{
    text-decoration: none;
    color: red;
    font-size: 30px;
    padding: 20px;
    line-height: 30px;
    transition: .4s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.social{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.social_link img{
  transition: .4s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 50px;
}
.menu_link:hover{
  transform: scale(1.2);
}
.social_link img:hover{
  transform: scale(1.2);
}
@media only screen and (max-width: 500px){
  h1{
    font-size: 20px;
  }
  p{
    font-size: 14px;
  }
  .menu_link{
    font-size: 14px;
    padding: 5px;
    line-height: 20px;
  }
  .social{
    flex-direction:column;
    bottom: -7%;
  }
  .social_link img{
  width: 35px;
  padding: 5px;
}
}


  

  
  
  

